.frame {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.frame .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 347px;
  height: 438px;
  position: relative;
}

.frame .text-wrapper {
  width: 158px;
  top: 31px;
  white-space: nowrap;
  position: absolute;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-2 {
  width: 115px;
  top: 103px;
  position: absolute;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-3 {
  width: 373px;
  top: 190px;
  white-space: nowrap;
  position: absolute;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-4 {
  width: 373px;
  top: 273px;
  white-space: nowrap;
  position: absolute;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-5 {
  width: 373px;
  top: 356px;
  white-space: nowrap;
  position: absolute;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;

}

.screen {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.screen .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 829px;
  position: relative;
}

.screen .overlap-group {
  position: absolute;
  width: 1441px;
  height: 835px;
  top: -6px;
  left: -1px;
}

.screen .rectangle {
  position: absolute;
  width: 1440px;
  height: 829px;
  top: 6px;
  left: 1px;
}

.screen .rectangle-2 {
  position: absolute;
  width: 1440px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #1ae1f763;
}

.screen .rectangle-3 {
  position: absolute;
  width: 414px;
  height: 192px;
  top: 144px;
  left: 306px;
  background-color: #ffffff;
}

.screen .rectangle-4 {
  position: absolute;
  width: 482px;
  height: 364px;
  top: 366px;
  left: 300px;
  background-color: #fffbfb;
}

.screen .text-wrapper {
  width: 409px;
  top: 157px;
  left: 325px;
  color: #000000;
  font-size: 30px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-2 {
  width: 336px;
  top: 242px;
  left: 325px;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .ellipse {
  width: 252px;
  height: 250px;
  top: 480px;
  left: 409px;
  position: absolute;
  object-fit: cover;
}

.screen .rectangle-5 {
  position: absolute;
  width: 1440px;
  height: 104px;
  top: 730px;
  left: 1px;
  background-color: #a1a8f3;
}

.screen .text-wrapper-3 {
  width: 352px;
  top: 375px;
  left: 375px;
  color: #070000;
  font-size: 24px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .img {
  width: 223px;
  height: 226px;
  top: 158px;
  left: 57px;
  position: absolute;
  object-fit: cover;
}

.screen .text-wrapper-4 {
  width: 441px;
  top: 215px;
  left: 870px;
  color: #000000;
  font-size: 20px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-5 {
  width: 493px;
  top: 420px;
  left: 870px;
  color: #000000;
  font-size: 20px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-6 {
  width: 492px;
  top: 427px;
  left: 356px;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .rectangle-6 {
  position: fixed;
  width: 67px;
  height: 59px;
  top: 24px;
  left: 23px;
  object-fit: cover;
}
