.frame {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.frame .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 347px;
  height: 438px;
  position: relative;
}

.frame .text-wrapper {
  width: 158px;
  top: 31px;
  white-space: nowrap;
  position: absolute;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-2 {
  width: 115px;
  top: 103px;
  position: absolute;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-3 {
  width: 373px;
  top: 190px;
  white-space: nowrap;
  position: absolute;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-4 {
  width: 373px;
  top: 273px;
  white-space: nowrap;
  position: absolute;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-5 {
  width: 373px;
  top: 356px;
  white-space: nowrap;
  position: absolute;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}